<div class="container-fluid header" id="header">
  <div class="container">

 <h1>About Us</h1>
    <span class="lead">Welcome to our employee directory</span>
   
             
 <h2>Learn What We Offer</h2>
 <span class="arrow" ><a href="#contact"><i class="fa-solid fa-circle-down"></i></a></span>
  </div>
</div>
<!--about us-->

<div class="container-fluid intro" id="about">
  <div class="container">
    <h2>About Us</h2>
    <p>We are a leading company in network communications and managment. We Value our <a href="/employees">employees</a> </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque</p> 
<!--carousel-->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/network.jpg"  height="460" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/download.jpg"  height="460" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/1.jpg" class="d-block w-100" height="460" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>    

</div>
<!--support section-->

  </div>
    <section class="wesupport">
        <h2>We Support</h2>
   <p>We believe our strength lies in the diversity of our employees.
       <br/> We encourages creative pursuits and passions outside of work,
        because when we can explore their curiosity,
         it gives all of us
         <br/> a new outlook on the world and its possibilities for emerging tech. </p> 
    <!--join our team img-->

    <p>Join Our <a href="/contact">team</a></p>  <img src="/images/People.jpg" alt="people">
  </div>
       </section>






<div class="container-fluid contact" id="contact">
  <div class="container">
       <h2>Contact Me</h2>
 <hr/>
  <form id="contact-form" method="post">
      <label for="name"></label>
  <input type="text" id="name" name="name" placeholder="Your Full Name" required>
      <label for="email"></label>
  <input type="email" id="email" name="email" placeholder="Your Email Address" required>
      <label for="message"></label>
  <textarea rows="6" placeholder="Your Message" id="message" name="message" required></textarea>
 <input type="submit" >  
</form>
   
  </div>
  </div>