        <!-- this is my contact page  -->


<div class="container-fluid header" id="header">
  <div class="container">
    <h1>{{title}}</h1>
    <span class="lead">Welcome to our employee directory</span>

    <span class="arrow" ><a href="#contact"><i class="fa-solid fa-circle-down"></i></a></span>
  </div>
</div>
</div>
<div class="container-fluid contact" id="contact">
  <div class="container">
    <form>
      <h2>Contact</h2>
      <input type="text" placeholder="Name" id="name" name="name" class="full-half">
      <input type="email" placeholder="Email" id="email" name="email" class="full-half">
      <input type="text" placeholder="Subject" id="subject" name="subject">
      <textarea placeholder="Message" id="message" name="message"></textarea>
      <input type="submit" value="Send">
    </form>
  </div>
</div>
<div class="container-fluid intro" id="about">
  <div class="container">
    <h2>About Us</h2>
    <p>We are a leading company in network communications and managment. We Value our <a href="/employees">employees</a> </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque</p> 

    <p>Join Our <a href="/contact">team</a></p>  <img src="/images/People.jpg" alt="people">
  </div></div>
