        <!-- this is my index page -->

  <!-- header  -->

<div class="container-fluid header" id="header">
  <div class="container">
    <h1>Employee Portal</h1>
    <span class="lead">Welcome to our employee directory</span>

    <span class="arrow" ><a href="#contact"><i class="fa-solid fa-circle-down"></i></a></span>
  </div>
</div>
        <!-- this is my about us section   -->

<div class="container-fluid intro" id="about">
  <div class="container">
    <h2>About Us</h2>
    <p>We are a leading company in network communications and managment. We Value our <a href="/employees">employees</a> </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque</p> 

    <p>Join Our <a href="/contact">team</a></p>  <img src="/images/People.jpg" alt="people">
  </div>
       

</div>

        <!-- what we offer section   -->

<div class="container-fluid features" id="skills">
  <div class="container ">
    <h2>What We Offer</h2>
    <hr/>
    <div class="col-3">
      <h3>We Listen</h3>
            <img class="support"src="/images/listen.jpg" alt="listen">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque.</p>
    </div>
    <div class="col-3">
      <h3>We Give Flexibility</h3>
                  <img class="support"src="/images/flex.jpg" alt="flex">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque.</p>
    </div>
    <div class="col-3">
      <h3>We Support</h3>
                  <img class="support"src="/images/it-support.jpg" alt="support" height="138"></div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque.</p>
    </div>
  </div>
</div>
        <!-- employee images    -->

<div class="container-fluid employees">
  <div class="container img">
    <h2 >Our Employees</h2>
    <div class="gallery">
              <!-- bootstrap nav     -->

<div class="gallery-image"><img src="/images/anotherone.jpg" alt="">
        <h3 class="name">Sofia Vera</h3>
        <hr/>
      <h3 class="">General Manager</h3>
</div>      

<div class="gallery-image"><img src="/images/rob.jpg" alt="">
        <h3 class="name">Adam Joe</h3>
        <hr/>
      <h3 class="">Accountant</h3>
</div>      
<div class="gallery-image"><img src="/images/man.jpeg" alt="">
        <h3 class="name">Jeff Applebey</h3>
        <hr/>
      <h3 class="">Controller</h3>
</div>      
<div class="gallery-image"><img src="/images/man.jpg" alt="">
        <h3 class="name">Steven Dow</h3>
        <hr/>
      <h3 class="">Sale Associate</h3>
</div>  
<div class="gallery-image"><img src="/images/Accountant.jpg" alt="">
        <h3 class="name">Henry Bruno</h3>
        <hr/>
      <h3 class="">Network Engineer</h3>
</div>  
<br/>
<br/>
<div class="gallery-image "><img src="/images/image-asset.gif" alt=""  
width="220">
        <h3 class="name">You?</h3>
        <hr/>
    <h3>Join Our <a class="team" href="/contact" ><b>Team</b></a></h3> 
</div>  
    </div>
  </div>
</div>
        <!-- contact    -->

<div class="container-fluid contact" id="contact">
  <div class="container">
       <h2>Contact Us</h2>
 <hr/>
  <form id="contact-form" method="post">
      <label for="name"></label>
  <input type="text" id="name" name="name" placeholder="Your Full Name" required>
      <label for="email"></label>
  <input type="email" id="email" name="email" placeholder="Your Email Address" required>
      <label for="message"></label>
  <textarea rows="6" placeholder="Your Message" id="message" name="message" required></textarea>
 <input type="submit" >  
</form>
   
  </div>
</div>
