@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@200&family=Poppins&family=Roboto+Mono:wght@200&display=swap');

main {
  font: 18px ;
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
  margin: 5px;
}
a{
  color: rgb(75, 75, 75);
}
.btn1{background-color: gold;
color: #090909;
font-size:18px;
font-weight: bold;

text-decoration: none;
border-radius: 10px;
width: 50px;
padding: 10px;}

.id{
  color: black;
}

fieldset{
  margin: 10px;
}
.btndelete{
  background-color: brown;
  text-decoration: none;
  color: aliceblue;
  padding: 3%;
  border-radius: 5px;

}
.btndelete:hover{
  background-color: rgb(152, 151, 150);
  color: black;
}
.edit{
  color: black;
  background-color: aliceblue;
}
.inactive{
  background-color: brown;
}
.retired{
background-color: orange;}
.employee{
  background-color: green;
}
h1{
  margin: 2%;
}