@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@200&family=Poppins&family=Roboto+Mono:wght@200&display=swap');

body {
  font: 18px ;
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
}

 .register{
margin-left: 46%;
margin-bottom: 2%;
}
a {
  color: gold;
}

.footer{
  background: #090909;
  color:white;}

  .links{
    text-decoration: none;
  }
  .links:hover{
    color: #b8b8b8;
  }

    i{font-size: 24px;}
  .btn{
    background-color: gold;
    color: #090909;
    font-size:18px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 20%;
  }
  .form-group{
    margin-left: 35%;
  }
  fieldset{
    padding: 4px;
  }
  h1{
    margin-left: 40%;
  }